<!doctype html>
<html>

<head>
	<title>新建画板</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<link rel="stylesheet" href="assets/css/jquery-ui.css">
	<link rel="stylesheet" href="assets/css/public.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<!-- ICONS -->
	<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon" />
	<script src="assets/scripts/jquery.js"></script>
	<script src="assets/scripts/juqery-ui.js"></script>
	<script type="text/javascript" src="assets/scripts/echarts.js"></script>
	<script type="text/javascript" src="assets/library/first.js"></script>
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>

</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper" ng-app="myApp" ng-controller="siteCtrl">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="userlist.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-danger update-pro" onclick="backtolist()" title="Upgrade to Pro" target="_blank"> <span>退出</span></a>
				</div>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" onclick="save(0)" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>保存</span></a>
				</div>
				
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>{{username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="http://mogujie.kuanxy.com/datashow/page-login.html"><i class="lnr lnr-exit"></i> <span>退出登录</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->

		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li ng-repeat="x in types">
							<a href={{x.typeid}} data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>{{x.type}}</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id={{x.type}} class="collapse ">
								<ul class="nav">
									<li ng-repeat="y in x.charts track by $index"><a id={{y[1]}} draggable="true" ondragstart="drag(event)">{{y[0]}}</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main" id="dragTarget" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:auto">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="col-md-4" id="edit" style="display:none;position:fixed;top:100px;right:1%;width:20%;z-index:5555;">
					<!-- REALTIME CHART -->
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">配置面板</h3>
							<div class="right">
								<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
							</div>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled list-justify">
								<li style="display:none"><input class="form-control" id="canvasid" placeholder="请输入题目"></li>
								<li>题目: <input class="form-control" id="titleC" placeholder="请输入题目"></li>
								<!--<li>颜色: <input class="form-control" id="linecolor" placeholder="请输入颜色"></li>-->

								<li>颜色:
									<script src="assets/scripts/jscolor.js"></script>
									<div class="input-group">
										<input id="linecolor" class="jscolor" value="ab2567">
									</div>
									<script>
										function setTextColor(picker) {
											document.getElementsByTagName('body')[0].style.color = '#' + picker.toString();
										}
									</script>
								</li>
								<div id="parame">
								</div>
								<li>数据源: 
									<select class="form-control" id="datapush">
										<option value=""></option>
										<option value="http://120.24.40.241:8086/query?db=test@q=Select * from experience">瓜大数据激励器</option>
								    </select>
								</li>
								<br>

							</ul>
							<button onclick="config()" class="btn btn-primary btn-lg btn-block">保存</button>
							<button onclick="kill(0)" class="btn btn-danger btn-lg btn-block">取消</button>
						</div>
					</div>
					<!-- END REALTIME CHART -->
				</div>


				<div class="col-md-4" id="editsave" style="display:none;position:absolute;right:1%;width:20%;z-index:5555;">
					<!-- REALTIME CHART -->
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title"></h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled list-justify">
								<li>名称: <input class="form-control" id="savename" placeholder="请输入名称"></li>
								<div id="parame">
								</div>

							</ul>
							<button onclick="save()" class="btn btn-primary btn-lg btn-block">保存</button>
							<button onclick="kill(1)" class="btn btn-danger btn-lg btn-block">取消</button>
						</div>
					</div>
					<!-- END REALTIME CHART -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>



		<div></div>
		<br />

		<div id="disp"></div>



		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script type="text/javascript">
		window.onload = loadFirst();
	</script>
	<script type="text/javascript">
		$(function () {
			$("#cp1").colorpicker({
				fillcolor: true
			});
			$("#cp2").colorpicker({
				fillcolor: true,
				success: function (o, color) {
					$(o).css("color", color);
				}
			});
			$("#cp3").colorpicker({
				fillcolor: true,
				success: function (o, color) {
					$("#cp3text").css("color", color);
				}
			});
			$("#cp4").colorpicker({
				fillcolor: true,
				event: 'mouseover',
				success: function (o, color) {
					$("#cp4text").css("color", color);
				}
			});
			$("#cp5").colorpicker({
				fillcolor: true,
				event: 'mouseover',
				target: $("#cp5text")
			});
		});
	</script>
</body>

</html>